[submodule "deploy/collections/ansible_collections/munnox/bootstrap"]
	path = deploy/collections/ansible_collections/munnox/bootstrap
	url = https://gitlab.com/munnox/ansible-collection-bootstrap.git
	branch = main
