[submodule "homedotfiles/.vim/bundle/jedi-vim"]
	path = homedotfiles/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "homedotfiles/.vim/bundle/supertab"]
	path = homedotfiles/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "homedotfiles/.vim/bundle/vim-airline"]
	path = homedotfiles/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "homedotfiles/.vim/bundle/vim-powerline"]
	path = homedotfiles/.vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
