[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# toml = "==0.10.2"
toml = "*"
pyyaml = "==5.4.1"
click = "==7.1.2"
GitPython = "==3.1.11"
checkgit = {editable = true, path = "."}

[dev-packages]
black = "==20.8b1"
pytest = "==6.1.2"
pytest-snapshot = "==0.6.1"
checkgit = {editable = true, path = "."}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
