# To use to make request
# `openssl req -out sslcert.csr -newkey rsa:2048 -nodes -keyout private.key -config subject_alt_names.cnf`
# To use to make certificate
# `openssl req -out sslcert.crt -x509 -newkey rsa:2048 -nodes -keyout private.key -config subject_alt_names.cnf`

[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
[ req_distinguished_name ]
countryName                 = Country Name (2 letter code)
stateOrProvinceName         = State or Province Name (full name)
localityName               = Locality Name (eg, city)
organizationName           = Organization Name (eg, company)
commonName                 = Common Name (e.g. server FQDN or YOUR name)
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
# IP.1 = 127.0.0.1
DNS.1   = bestflare.com
DNS.2   = usefulread.com
DNS.3   = chandank.com
