# Openstack (OVH) Secrets
openstack_auth: "{{ clouds.os.auth }}"

clouds:
  os:
    auth: 
      auth_url: https://auth.example.com/v3
      project_name: "{{ project_name }}"
      project_domain_name: default
      domain_name: Default
      username: "{{ username }}"
      password: "{{ password }}"

# Azure Secrets
azure:
  public_key: "{{ lookup('file', '~/.ssh/id_rsa.pub')"

# AWS Secrets
aws:
  iam_name: temp_ec2
  iam_key: "{{ aws_name }}"
  iam_secret: "{{ aws_password }}"